# Ignore all files in the venv directory
venv/

# Ignore the service account JSON file
secret/transpense-firebase-adminsdk-u8q1s-bc0d0d9ab9.json

# Ignore Python bytecode
*.pyc

# Ignore directories named __pycache__
__pycache__/

# Ignore .env files
.env


# Frontend
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/my-transpense-app/node_modules
Frontend/my-transpense-app/.pnp
Frontend/my-transpense-app/.pnp.js

# testing
Frontend/my-transpense-app/coverage

# production
Frontend/my-transpense-app/build

# misc
Frontend/my-transpense-app/.DS_Store
Frontend/my-transpense-app/.env.local
Frontend/my-transpense-app/.env.development.local
Frontend/my-transpense-app/.env.test.local
Frontend/my-transpense-app/.env.production.local

Frontend/my-transpense-app/npm-debug.log*
Frontend/my-transpense-app/yarn-debug.log*
Frontend/my-transpense-app/yarn-error.log*
